.filter__label {
  display: flex;
  flex-direction: column;

  width: 400px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(105, 107, 107);
}
.filter__input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(105, 107, 107);
  border-radius: 20px;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0.5, 0.15),
    0px 1px 1px rgba(0, 0, 0.5, 0.2), 1px 2px 5px rgba(0, 0, 0, 0.5);
}
.filter__input:hover,
.filter__input:focus {
  border: none;
  box-shadow: 1px 3px 22px -4px #000000 inset;
}
.filter__span {
  margin-bottom: 10px;
}
