.li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.contact {
  font-size: 24px;
  font-weight: 600;
  color: rgb(105, 107, 107);
}
.button__delete {
  width: 70px;
  height: 35px;
  padding: 5px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(238, 195, 182);
  color: rgb(250, 46, 46);
  cursor: pointer;
}
.button__delete:hover,
.button__delete:focus {
  background-color: #9f0404;
  color: white;
}
